<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">
    <servlet>
        <servlet-name>ShowXlsServlet</servlet-name>
        <servlet-class>servlet.ShowXlsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllXlsServlet</servlet-name>
        <servlet-class>servlet.AllXlsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JxlXlsServlet</servlet-name>
        <servlet-class>servlet.JxlXlsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JxlWriteXlsServlet</servlet-name>
        <servlet-class>servlet.JxlWriteXlsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowXlsServlet</servlet-name>
        <url-pattern>/showxls.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllXlsServlet</servlet-name>
        <url-pattern>/allxls.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JxlXlsServlet</servlet-name>
        <url-pattern>/jxlRead.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JxlWriteXlsServlet</servlet-name>
        <url-pattern>/JxlWrite.html</url-pattern>
    </servlet-mapping>
</web-app>